@import "./utils/vars.scss";
@import "./base/basesetup.scss";
@import "./base/reset.scss";


.parentWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  @media (min-width: 1024px) {
    flex-flow: row;
  }
}
#sizeSelect {
  input[type=radio] + label {
    width: 32%;
    background-color: #e7e7e7;
    border-color: #ddd;
  }
  input[type=radio]:checked + label {
      background-color:#d0d0d0;
  }
}
img {
  display: block;
  height: 18rem;
  width: 90%;
  border: 0.3rem solid orange;
  margin: 0 auto;
}
fieldset {
  border: none;
}
input[type=radio] {
    display:none;
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    width: 23.6%;
    text-align: center;
    height: 2.5rem;
    padding-top: 0.75rem;
    background-color: #e7e7e7;
    border-color: #ddd;
}
input[type=radio]:checked + label {
    background-color:#d0d0d0;
}
select {
  -webkit-appearance: none;
}
#product {
  padding: 1rem;
  width: 100%;
  p {
    text-align: right;
    font-size: 2rem;
  }
}
#shippingDetails {
  background-color: #EEEEEE;
  padding: 1rem;
  width: 100%;
  h2 {
    font-size: 2rem;
    padding-left: 1rem;
  }
  label, p {
    margin-bottom: 0;
    margin-top: 0;
  }
  label[for=state] {
    padding-left: 0.5rem;
  }
  label[for=zipcode] {
    padding-left: 0;
  }
  p:nth-of-type(2n) {
    margin-bottom: 1rem;
  }
}
#fullname, #email, #address, #address2 {
  width: 97%;
  height: 1.6rem;
  margin: 0 auto;
}
#city, #state, #zipcode { width: 90%; }
.oneContainer {
  display: flex;
  justify-content: space-between;
  div {
    width: 100%;
  }
}
#orderDetails {
  background-color: #DDDDDD;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  h2 {
    width: 100%;
  }
  h3, p {
    width: 50%;
  }
  address {
    width: 100%;
  }
}
