%section-header {
  font-size: $header-size;
  padding-bottom: 1rem;
}
%center-align {
  margin-left: auto;
  margin-right: auto;
}
%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
