#orderDetails {
  background-color: #E7E8E9;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  h2 {
    font-size: $header-size;
    width: 100%;
  }
  h3, p {
    width: 50%;
    margin-top: 1rem;
    &::after {
      content: "";
      display: block;
      height: 0.1rem;
      width: 100%;
      margin: 10px;
      background: rgba(0,0,0,0.1);
    }
  }
  p {
    text-align: right;
  }
  address {
    width: 100%;
  }
  div {
    display: flex;
    width: 100%;
    flex-flow: column;
  }
  button {
    display: block;
    font-size: 1.2rem;
    width: 70%;
    height: 3rem;
    margin-top: 1rem;
    background-color: #26AE61;
    color: #F8F6F9;
    border-radius: 0.3rem;
  }
}
