#orderDetails {
  background-color: #E7E8E9;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  h2 {
    font-size: $header-size;
    width: 100%;
    margin-bottom: 1rem;
  }
  address {
    width: 100%;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
  }
  #productName, #totalPrice {
    padding-bottom: 0.5rem;
  }
  #productName {
    margin-bottom: 1rem;
    @media (min-width: 1024px) {
      height: 2rem;
    }
  }
  #shippingCost {
    border: none;
    margin-bottom: 0.5rem;
    @media (min-width: 1024px) {
      line-height: 2.5rem;
      height: 0;
    }
    h3, p {
      color: #494c4e;
    }
  }
  #totalPrice {
    margin-bottom: 1rem;
    @media (min-width: 1024px) {
      height: 2rem;
    }
    h3, p {
      font-weight: bold;
    }
  }
  #shippingAddress {
    flex-direction: column;
    border: none;
    @media (min-width: 1024px) {
      padding-bottom: 5rem;
    }
    h3 {
      padding-bottom: 2rem;
      @media (min-width: 1024px) {
        padding-bottom: 0rem;
      }
    }
  }
}
