.parentWrapper {
  @media (min-width: 1024px) { padding: 3rem; }
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  @media (min-width: 1024px) {
    flex-flow: row;
  }
}
.oneContainer {
  display: flex;
  justify-content: space-between;
  div { width: 100%; }
}
.submitButton {
  display: block;
  font-size: 1.2rem;
  width: 70%;
  height: 3rem;
  margin-top: 1rem;
  background-color: #008400;
  color: #f8f6f9;
  border-radius: 0.3rem;
}
.error {
  color: red;
  padding-top: 0.5rem;
}
